<div class="mat-elevation-z4">
  <div class="footer">
    <mat-tab-group mat-align-tabs="center" class="content">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-store icon-title"></i>
          Sobre
        </ng-template>
        
        <div class="footer-content">
          <div>
           Real Food é uma tendência que aposta na denominada "comida real", ou seja, produtos minimamente processados ou cujo processamento não piorou
           sua qualidade ou reduziu suas propriedades. Esse movimento, que está na moda em todo o mundo, defende o direito de ter uma alimentação saudável 
           e respeitosa com o planeta.
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-map-marker-alt icon-title"></i>
          Localização
        </ng-template>
        <div class="footer-content">
          <div>
            Rua Videira, 999 - Rua Rua <br>
            (41)99714-4462 <br>
            São José dos Pinhais - Paraná
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-laptop-code icon-title"></i>
          Desenvolvedor
        </ng-template>
        <div class="footer-content">
          <div>
            <i class="fab fa-github"></i><a href="" class="link-a">Ridrirox-vercel</a>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>

  <div class="redes mat-elevation-z4">
    <p>
      <a href=""><i class="fab fa-facebook"></i></a>
    </p>

    <p>
      <a href=""><i class="fab fa-whatsapp-square"></i></a>
    </p>

    <p>
      <a href=""><i class="fab fa-instagram"></i></a>
    </p>
  </div>
</div>
